.main-container-projects {
    margin-left: 12vw;
    margin-top: 30vh;
    width: 150%;
}

.main-header-projects {
    color: var(--text-main);
    font-size: 300%;
    font-weight: 500;
}

.secondary-header {
    color: white;
    text-align: left;
}

.proj-main {
    height: 74vh;
    width: 70vw;
    /* background-color: white; */
    align-self: center;
    margin: 10vh 1vw 10vh 12vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



