.main-container-skills {
    margin-left: 15vw;
    margin-top: 20vh;
    width: 30vw;
    height: 80vh;
}

.main-header {
    color: var(--text-main);
    font-size: 400%;
    font-weight: 400;
}

.secondary-header {
    color: white;
    text-align: left;
    width: 100%;  
    font-size: 200%; 
}

.skill-container {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
}

.skill-list {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 200%;
}

.hr1 {
    margin: 0;
    width: 30vw;              
    background-color:#FFFF00;
    height: 0;
  }

.icon {
    margin: 4%;
    font-size: 300%;
    color: var(--text-main);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}