:root { 
    --text-main-hover:#83dcd6;
  }

.nav-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 8vw;
    height: 100vh;
    /* width: 140px; */
    border-radius: 0;
    background-color: var(--secondary-purple);
    margin-left: 0;
}

.logo {
    height: 50px;
    width: 5%;
    margin-bottom: 10%;
}

.link-container {
    margin-left: 2vw;
    position: fixed;
    margin-top: 40vh;
}

.link {
    color: var(--text-main);
    font-size: large;
    text-decoration: none;
}

.link:hover {
    color: var(--text-main-hover);
    font-size: xx-large;
    text-decoration: none;
    text-shadow: 30px 1000px 30px #36938c;
    cursor: pointer;
}

