.main-container {
    margin-left: 20%;
    margin-top: 10%;
}

.main-header {
    color: var(--text-main);
    font-size: 500%;
    font-weight: 500;
}

.secondary-header {
    color: white;
    text-align: left;
    width: 50%;
}